main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.profile-content-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.fade-in {
    animation: fadeInUp 0.8s cubic-bezier(.7,1.7,.7,1) both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
