/* Configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}

/* Estilização do header */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1d;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem 2rem; 
}
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #b00610;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.nav-links li a {
    font-weight: 600;
    color: #ccc;
    text-decoration: none;
}
.nav-links li a:hover {
    color: #fff;
}

/* Estilização do footer */
.footer {
    display: flex;
    /* Usa o modelo de layout flexivel*/
    flex-wrap: wrap;
    /* Permite que os elementos filhos "quebrem linha".*/
    background-color: #111;
    color: #fff;
    justify-content: space-between;
    padding: 40px 60px;
    border-bottom: 1px solid #222;
  }
  .footer-section {
    margin-bottom: 30px;
    min-width: 150px;
  }

  .section-title {
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .section-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .section-list li {
    font-size: 0.95rem;
    margin-bottom: 10px;
    color: #ccc;
    cursor: pointer;
  }

  .section-list li:hover{
    text-decoration: underline;
  }
  .social-icons {
    display: flex;
    gap: 14px;
    margin-top: 10px;
  }
  .social-btn {
    width: 36px;
    height: 36px;
    background-color: #1a1a1a;
    border: 1px solid #2c2c2c;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .social-btn:hover {
    background-color: #333;
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    padding: 20px 60px;
    font-size: 0.85rem;
    color: #aaa;
  }
  .footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  .footer-links li {
    padding-left: 20px;
    color: #ccc;
    cursor: pointer;
  }
  .footer-links li:hover {
    text-decoration: underline;
  }
